 <v-app id="inspire">
    <v-content>
    <v-container>
  <v-layout row v-if="error">
    <v-flex xs12 sm6 offset-sm3>
      <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
    </v-flex>
  </v-layout>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="elevation-12">
      <v-toolbar dark color="primary">
        <v-toolbar-title>Sign In form</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
        <v-card-text>
          <v-container>
            <form @submit.prevent="login">
              <v-layout row>
                <v-flex xs12>
                    <v-text-field prepend-icon="person" name="username" label="Username" id="username" v-model="username" type="text" required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                    <v-text-field prepend-icon="lock" name="password" label="Password" id="password" v-model="password" type="password" required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                <div class="text-xs-center">
                    <v-btn color="primary" type="submit" :disabled="loading" :loading="loading">
                     Sign in
                      <v-icon right>lock_open</v-icon>
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                       </span>
                    </v-btn>
                    <v-btn color="primary" @click.prevent="onClear" type="submit" :disabled="loading" :loading="loading">
                     Clear
                        <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                       </span>
                    </v-btn>
                    </div>
                  </v-flex>
              </v-layout>
            </form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
  data () {
   return {
   drawer: null,
       username: '',
       password: ''
     }
   },
    computed: {
   //user () {
  //   return this.$store.getters.user
   //},
   //error () {
   // return this.$store.getters.error
  // },
  // loading () {
  //   return this.$store.getters.loading
  // }
 },
watch: {
   user (value) {
     if (value !== null && value !== undefined) {
       this.$router.push('/profile')
     }
   }
 },
    methods: {
 /*   login: function () {
      const { username, password } = this
      this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {

       var Role= this.$store.getters.getRole
       if(Role === "Admin") {
         console.log('Roles: ', Role)
        this.$router.push('/Admin')
       }else if(Role === "Staff"){
       console.log('Roles: ', Role)
       this.$router.push('/staffDash')
       }else if(Role === "Student"){
       console.log('Roles: ', Role)
       this.$router.push('/Student')
       }else{
   //    this.$router.push('/')
       }
      })
    },
    logout: function () {
      this.$store.dispatch(AUTH_LOGOUT).then(() => this.$router.push('/login'))
    },
        onDismissed () {
        this.$store.dispatch('clearError')
      },
        onClear () {
         this.username= '',
        this.password= ''
      }
    }*/
  }}
</script>