<template>
  <v-app>
    <v-app-bar app color="primary" dark >
        <v-toolbar-title>
           <v-spacer></v-spacer>  
          <h2>National Schools Inspectorate Authority  (NaSIA)</h2>
           </v-toolbar-title>   
         <v-spacer></v-spacer>      
    </v-app-bar>
   <main>
    <router-view></router-view>
    </main>
    <v-footer app color="green white--text pa-3" dark>
      <span>NaSIA V1.1 Powered by NaSIA</span>
    <v-spacer></v-spacer>
    <div>&copy;2008- {{ new Date().getFullYear() }} NaSIA and all rights reserved.</div>
  </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
<style scoped>
#app {
	background-image: url('./assets/nasia.jpg') ;
  background-size: cover;
	overflow: hidden;
}
</style>